<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link
      rel="apple-touch-icon"
      href="/assets/icons/recycling-svgrepo-com.png"
    />
    <link
      rel="icon"
      href="/assets/icons/recycling-svgrepo-com.svg"
      type="image/svg+xml"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-css-reset@1.1.1/dist/reset.min.css"
      integrity="sha256-bVL811EBRuwXwggPJ59VJHWeQIKYuy8ADSKP9KvzC8U="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Raleway:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
